@use "../scss/variables" as colors;

.grid {
  background-color: colors.$background-dark;
  border-radius: 2rem;
  display: flex;
  min-height: 50vh;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
  & > * {
    width: 100%;
    max-width: 20rem;
  }
}

@media screen and (width<=768px) {
  .grid {
    justify-content: center;
    background-color: colors.$grid-background-light;
    padding: 0;
  }
}
