@use "../scss/variables.scss" as *;

.description__panel {
  margin-bottom: 1rem;
  flex-basis: 50%;
  overflow: hidden;
  p {
    margin-block: 0em;
  }
  .description__header {
    background-color: $color-primary;
    color: $color-tertiary;
    padding: 1em 1em;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .arrow {
      transition: all 0.2s ease-in-out;
    }
    .arrow_up {
      transform: rotate(0deg);
    }
    .arrow_down {
      transform: rotate(180deg);
    }
  }
  .description__content {
    background-color: $background-light;
    color: $color-primary;
    border-radius: 0.7rem;
    position: relative;
    top: -0.3rem;
    z-index: -1;
    transition: all 0.5s ease-in-out;
    height: 0px;
    font-size: 0px;
    &.hidden {


    }
    &.visible {
      display: block;
      height: fit-content;
      padding: 1rem;
      font-size: 16px;
    }
  }

 
  }

