@use "../scss/variables.scss" as *;
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  @media screen and (width <=768px) {
    text-transform: uppercase;
    font-weight: 400;
    .navbar__logo img{
    width: 114px;
    height: 41px;
    }
  }
  font-weight: 500;
  color: $color-primary;
  font-size: 24px;
  & > *:first-child {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: $color-primary;
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}
